<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> After graduating with a degree in Electronics and Communication Engineering, I decided to combine my technical knowledge with my passion for programming. <br>I enrolled in a coding boot-camp and dedicated myself to learning full-stack web development. Throughout the course, I was drawn to the problem-solving aspect of programming. There's nothing more satisfying than finally figuring out a solution to a tough programming challenge. My core stack includes React, Next.js, Node.js, and MongoDB. I am also proficient in using TypeScript and Express.js. However, I am always eager to expand my skills and stay up-to-date with new technologies in the rapidly evolving field of software development. Currently, I am actively seeking a full-time position as a software developer where I can utilize my skills and continue learning while contributing to Dynamic projects.
<br>
While coding is my main focus, I believe that maintaining a balance between work and relaxation is crucial for personal growth. In my free time, you can find me playing video games or watching web series. I also enjoy learning new things. Being an active individual, working out is not just a hobby but also an escape from the world for me. My dedication towards leading a healthy lifestyle reflects in my work ethic as well. 
<br>
<br>
<br>
</p>

<a href="https://willium-portfolio.netlify.app/">Here is my Portfolio</a>
<%- include("partials/footer"); -%>

