<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <ul>
        <li><a href="mailto:Williumtiwari123@gmail.com">Email</a></li>
        <li><a href="">+91 8273171875</a></li>
        <li><a href="https://www.linkedin.com/in/willium-tiwari-4835071bb/">LinkedIN</a></li>
        <li><a href="https://github.com/Williumtiwari">Github</a></li>
    </ul>
<%- include("partials/footer"); -%>
